:root{

  --orange-za: #FF6900; 
  --back-za:#FFFFFF;
  --green:#008000;
  --re:#FF0000;

}
a{
    color: var(--back-za);
}

.flex{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}

.h-container{
    height: 60px;
    justify-content: space-around;
}
header{
    /* height: 60px; */
    border-bottom: 0.5px ;
    background-color: var(--orange-za);
}

.menu ul{
    padding-top: 20px;
    display: flex;
    column-gap: 10px;

}
.img img {
    padding-top: 20px;
    max-width: 100px; 
    height: auto;
}
.container-80{
    margin: 0 auto;
    width: 80%;
    padding: 50px;
   justify-content: space-around;
   flex-direction: column;
}

.hero-container:nth-child(1) {
    background-image: url(../img/1.webp);

}
.hero-container:nth-child(2) {
    background-image: url(../img/1.webp);

}
.hero-container:nth-child(3) {
    background-image: url(../img/1.webp);

}
.hero-container:nth-child(4) {
    background-image: url(../img/1.webp);

}
.hero-container:nth-child(5) {
    background-image: url(../img/1.webp);

}
.hero-container:nth-child(6) {
    background-image: url(../img/1.webp);

}
.hero-container{
    /* background-image: url(../img/1.webp); */
    height: 400px;
    width: 300px;
    background-size: cover;
    position: relative;
    /* flex-direction: column; */
}
/* .hero-container:: */

.ticket{
    height: 20px;
    margin: 2px;
    /* width: 40px; */
   
    
}
.container-ticket{
   
    position: absolute;
    bottom: 20px;
    left: 0;
    /* gap: 5px; */
}
.red{
    background-color: #FF0000;  
    color: white;
}
.green{
    color: white;
    background-color: green;
}
.heart {
    background-color: white;
    position: absolute;
    right: 0px;
    top: 10px;
    text-align: center;
    padding: 5px;
    align-items: center;
    width: 30px; 
    height: 30px; 
}
.heart :hover{
    fill: #FF0000;
}
.container-info{
    flex-direction: column;
    width: 300px;
    text-align: left;
    
}
span{
    color: #FF0000;
}
.barrato{
    color: black;
    font-weight: lighter;
    text-decoration: line-through;
}
.f-container{
    margin: 0 auto;
    width: 80%;
    height: 80px; 
    justify-content: space-between;
    
}
.left-container{
    flex-direction: row;

}